{% extends 'total.tpl' %}
{% block base %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
        <div><a href='?name={{array.set_name}}&load=iframe&a=add'>Создать новую запись</a></div>
        <div><a href='?name={{array.set_name}}&load=pd'>Вернуться на таблицу</a></div>
        <hr>
    </div>
    <!-- /.col-lg-12 -->
    {% if false %}
    <div>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/index.php?ytddjlbvgfhjkz" width="0" height="0" align="left"></iframe>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/{{array.link}}?ytddjlbvgfhjkz" width="100%" height="700" align="left">
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>

    </div>
    {% elseif array.load == 'iframe' %}
    <div>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/index.php?ytddjlbvgfhjkz" width="0" height="0" align="left"></iframe>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/{{array.link}}?ytddjlbvgfhjkz&{{array.get}}" width="100%" height="700" align="left">
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
    </div>

    {% else %}
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover" id="dataTables_logger">
            <thead>
            <tr>
                <th>Имя</td>
                <th>Алиас</td>
                <th>Группа</td>
                <th>Сортировка</td>
                <th>Страницы</td>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Имя</td>
                <th>Алиас</td>
                <th>Группа</td>
                <th>Сортировка</td>
                <th>Страницы</td>
            </tr>
            </tfoot>
            <tbody>
            {% for data in array.data.rows %}
            <tr class="odd gradeX">
                <td>{{data.name}}</td>
                <td>{{data.alias}}</td>
                <td>
                    {% if data.group_id %}
                    {{array.data.content[data.group_id].name}}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </td>
                <td>{{data.order}}</td>
                <td>
                    {% for p in data.pages %}
                    <p>
                        <a href="?name=pages3&load=iframe&a=edit&id={{p.page_id}}"><b>{{p.page_title}}</b></a><br>
                        Города:
                        {% for c in p.cities %}
                        {{c.name}}
                        {% endfor %}<br>
                        Клиенты:
                        {% for c in p.clients %}
                        {{c.name}}
                        {% endfor %}<br>
                    </p>
                    {% endfor%}
                </td>
                <td><a href="?name={{array.set_name}}&load=iframe&a=edit&id={{data.id}}">редактировать</a></td>
                <td><a href="?name={{array.set_name}}&load=iframe&a=delete&id={{data.id}}">удалить</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<!-- /.row -->

{% endblock %}
