{% extends 'total.tpl' %}
{% block base %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
    </div>
    <!-- /.col-lg-12 -->
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover" id="dataTables_logger">
            <thead>
            <tr>
                <th>Время</th>
                <th>Пользователь</th>
                <th>Данные</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Время</th>
                <th>Пользователь</th>
                <th>Даннаые</th>
            </tr>
            </tfoot>
            <tbody>
            {% for data in array.data%}
            <tr class="odd gradeX">
                <td>{{data.id}}</td>
                <td>{{data.login}}</td>
                <td>{{data.cart|raw}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /.row -->
{% endblock %}