{% extends 'total.tpl' %}
{% block base %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
        <div><a href='?name=pages3&load=iframe&a=add'>Создать новую запись</a></div>
        <div><a href='?name=pages3&load=pd'>Вернуться на таблицу</a></div>
        <hr>
    </div>
    <!-- /.col-lg-12 -->
    {% if false %}
    <div>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/index.php?ytddjlbvgfhjkz" width="0" height="0" align="left"></iframe>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/{{array.link}}?ytddjlbvgfhjkz" width="100%" height="700" align="left">
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
    </div>
    {% elseif array.load == 'iframe' %}
    <div>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/index.php?ytddjlbvgfhjkz" width="0" height="0" align="left"></iframe>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/{{array.link}}?ytddjlbvgfhjkz&{{array.get}}" width="100%" height="700" align="left">
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
    </div>
    {% else %}
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover" id="dataTables_loggers">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Тема</th>
                <th>Текст</th>
                <th>Операции</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Имя</th>
                <th>Тема</th>
                <th>Текст</th>
                <th>Операции</th>
            </tr>
            </tfoot>
            <tbody>
            {% for data in array.data%}
            <tr class="odd gradeX">
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.body[:100]}}</td>
                <td><a href="?name=pages3&load=iframe&a=edit&id={{data.id}}">редактировать</a></td>
                <td><a href="?name=pages3&load=iframe&a=delete&id={{data.id}}">удалить</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<!-- /.row -->

{% endblock %}
