{% extends 'total.tpl' %}
{% block base %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
        <!-- <div><a href='?name=search_popularity&load=iframe&remove=1'>Очистить все данные (обновление статистики)</a></div>

        <hr>
        -->
    </div>
    <!-- /.col-lg-12 -->
    {% if array.load == 'iframe' %}
    <div>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/index.php?ytddjlbvgfhjkz" width="0" height="0" align="left"></iframe>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/{{array.link}}?ytddjlbvgfhjkz&{{array.get_link}}" width="100%" height="700" align="left">
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
    </div>
    <script>
        window.location.href = "?name=search_popularity&load=pd";
    </script>
    {% endif %}

    <form>
        <div style='margin-left: 15px;'>
            <input type="hidden" name="load" value="pd">
            <input type="hidden" name="name" value="search_popularity">
            <input type="text" class="form-control" placeholder="Найти по тексту" name="text"  value="{{array.get.text}}"><br />
            <input type="datetime" class="form-control form-control-date1" placeholder="Или Период с" name="date1" value="{{array.get.date1}}">
            <input type="datetime" class="form-control form-control-date2" placeholder="до" name="date2"  value="{{array.get.date2}}"><br />
            <button type="submit" class="btn btn-default">Поиск</button>
        </div><hr>
    </form>

    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover" id="dataTables_logger_100">
            <thead>
            <tr>
                <th>Время</th>
                <th>Данные</th>
                <th>Количество</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Время</th>
                <th>Данные</th>
                <th>Количество</th>
            </tr>
            </tfoot>
            <tbody>
            {% for data in array.data%}
            <tr class="odd gradeX">
                <td>{{data.time}}</td>
                <td>{{data.q|raw}}</td>
                <td>{{data.count}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /.row -->
{% endblock %}
