{% extends 'total.tpl' %}
{% block base %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
        <div><a href='?name={{array.set_name}}&load=iframe'>Создать новую запись</a></div>
        <div><a href='?name={{array.set_name}}&load=iframe&operation=read&list=header'>Все заголовки</a></div>
        <hr>
    </div>
    <!-- /.col-lg-12 -->
    {% if array.load == 'iframe' %}
    <div>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/index.php?ytddjlbvgfhjkz" width="0" height="0" align="left"></iframe>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/{{array.link}}?ytddjlbvgfhjkz&{{array.get}}" width="100%" height="700" align="left">
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
    </div>

    {% endif %}

</div>
<!-- /.row -->

{% endblock %}
