{% extends 'total.tpl' %}
{% block base %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
        <div><a href='?name={{array.set_name}}&load=iframe'>Загрузить картинки</a></div>
        <hr>
    </div>
    <!-- /.col-lg-12 -->
    {% if array.load == 'iframe' %}
    <div>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/index.php?ytddjlbvgfhjkz" width="0" height="0" align="left"></iframe>
        <iframe style="border: 0" src="http://www.partsdirect.ru/admin/www/{{array.link}}?ytddjlbvgfhjkz&{{array.get}}" width="100%" height="700" align="left">
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
    </div>

    {% elseif false %}
    <div class="col-lg-12">
        <table class="table table-striped table-bordered table-hover" id="dataTables_logger_25">
            <thead>
            <tr>
                <th>Картинка</th>
                <th>Адрес</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Картинка</th>
                <th>Адрес</th>
            </tr>
            </tfoot>
            <tbody>
            {% for data in array.data%}
            <tr class="odd gradeX">
                <td><img width="300px" src="{{data.name}}"></td>
                <td>{{data.name}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<!-- /.row -->

{% endblock %}
