{% extends 'total.tpl' %}
{% block base %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{base.page}}</h1>
        </div>
        <!-- /.col-lg-12 -->
        <div class="col-lg-6">
            <p style="text-align: center"><b>Добрый день ДРУЗЬЯ. Сегодня Мы включаем Новый дизайн АДМИНКИ.</b></p>
            <p>Все все что было в админке PD пока разнесено в БЛОКИ, ровно так же, как это было на старой форме.</p>
            <p>В дальнейшем, когда будет известно по Всем меню. Они будут разнесены на Логические блоки типа SEO, МАРКЕТИНГ...</p>
            <p style="text-align: right; margin-right: 43px;"><b>Наслаждайтесь.</b></p>
        </div>
    </div>
    <!-- /.row -->
{{ array.data}}
{% endblock %}