{% extends 'total.tpl' %}
{% block base %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{base.page}}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
<table class="table table-striped table-bordered table-hover" id="logs-kladr" style="width: 30%">
    <thead>
    <tr>
        <th>ТК</th>
        <th>Записей</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd gradeX" kladr="{{data.code}}" tk="{{array.param.tk}}" rec="{{array.param.rec}}">
        <td class="table-id">Кладр</td>
        <td>{{ array.count.kladr}}</td>
    </tr>
    <tr class="odd gradeX" kladr="{{data.code}}" tk="{{array.param.tk}}" rec="{{array.param.rec}}">
        <td class="table-id">Сдек</td>
        <td>{{ array.count.sdek}}</td>
    </tr>
    <tr class="odd gradeX" kladr="{{data.code}}" tk="{{array.param.tk}}" rec="{{array.param.rec}}">
        <td class="table-id">Мажора</td>
        <td>{{ array.count.major}}</td>
    </tr>
    <tr class="odd gradeX" kladr="{{data.code}}" tk="{{array.param.tk}}" rec="{{array.param.rec}}">
        <td class="table-id">Почта/ EMS</td>
        <td>{{ array.count.ems}}</td>
    </tr>
    </tbody>
</table>
{% endblock %}