{% extends 'total.tpl' %}
{% block base %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
    </div>
</div>

{% if array.data.kladr%}
        <table class="table table-striped table-bordered table-hover" id="logs-kladr">
            <thead>
            <tr>
                <th>Город</th>
                <th>Область</th>
                <th>Префикс</th>
                <th>Страна</th>
            </tr>
            </thead>
            <tbody>
            {% for data in array.data.kladr%}
                <tr class="odd gradeX" kladr="{{data.code}}" tk="{{array.param.tk}}" rec="{{array.param.rec}}" country="{{data.countryId}}">
                    <td width="10%" class="table-id">{{data.city}}</td>
                    <td>{{data.region}}</td>
                    <td>{{data.short}}</td>
                    <th>{{data.country}}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>



<div class="alert alert-info">
    Пожалуйста кликните по списку ниже, если Вы нашли совпадение.
    <button type="button" class="btn btn-success" id="addCity">Добавить в список</button>
</div>
<div class="alert alert-success" id="alert-success-removeCity" style="display:none">
    Успешное добавление сопоставления. Теперь Вы можете удалить запись.
    <button type="button" class="btn btn-danger removeCity">Удаление записи из Лога</button>
</div>
<div class="alert alert-danger" id="alert-danger-removeCity" style="display:none">
    Что-то пошло не так. Но Вы все равно можете удалить запись.
    <button type="button" class="btn btn-danger removeCity">Удаление записи из Лога</button>
</div>
{% endif %}


<div class="form-group">
    <label>Выбор ТК</label>
    <select class="form-control">
        {% for data in array.data.tk%}
            <option value="{{data.id}}"  {{  data.id == array.param.tk ? ' selected ' : '' }}>{{data.name}}</option>
        {% endfor %}
    </select>
    <label>Выбор Страны</label>
    <select class="form-control">
        {% for data in array.data.country%}

        <option value="{{data.id}}"  {{  data.id == array.param.country ? ' selected ' : '' }}>{{data.name}}</option>
        {% endfor %}
    </select>
</div>





<table class="table table-striped table-bordered table-hover" id="dataTables-logs">
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Город</th>
        <th>Область</th>
        <th>Операции</th>
    </tr>
    </thead>
    <tbody>
    {% for data in array.data.table%}
    <tr class="odd gradeX">
        <td width="10%" class="table-id">{{data.id}}</td>
        <td>{{data.city}}</td>
        <td>{{data.obl}}</td>
        <td width="8%">

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}