{% extends 'total.tpl' %}
{% block base %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="alert alert-danger">Те записи, которые не были найденые в общей таблице. Мертвые записи.</div>
<table class="table table-striped table-bordered table-hover" id="dataTables">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>ТК</th>
            <th>Город</th>
            <th>Область</th>
            <th>Префикс</th>
            <th>Страна</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
    {% for data in array.data%}
        <tr class="odd gradeX">
            <td width="10%" class="table-id">{{data.id}}</td>
            <td>{{data.tk}}</td>
            <td>{{data.city}}</td>
            <td>{{data.obl}}</td>
            <td>{{data.prefix}}</td>
            <td width="10%" country="{{data.id}}">{{data.country}}</td>
            <td width="10%">
                <button class="table-delete"><span class="glyphicon glyphicon-trash"></span></button>
                <button class="table-search" tk="{{data.tkId}}" code="{{data.code}}" record={{data.id}} country="rus"><span class="glyphicon glyphicon-search"></span></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}