{% extends 'total.tpl' %}
{% block base %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{base.page}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="form-group">
    <label>Выбор ТК</label>
    <select class="form-control sync-value">
        {% for data in array.data.tk%}
            <option value="{{data.id}}">{{data.name}}</option>
        {% endfor %}
    </select>
    <label>Выбор Страны</label>
    <select class="form-control sync-country">
        {% for data in array.data.country%}
        <option value="{{data.id}}">{{data.name}}</option>
        {% endfor %}
    </select>
</div>


<button type="button " class="btn btn-default disabled sync-button">Синхронизация</button>

<div class="alert alert-success" style="display:none">
    Синхронизация закончилась!
</div>

{% endblock %}